ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

header {
  height: 100px;
  background-color: black;
}

.header-top {
  height: 50px;
}
.header-top .container {
  width: 1200px;
  margin: 0 auto;
}
.header-top .container,
.header-top nav,
.header-top ul {
  height: 100%;
}
.header-top ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.header-top li {
  padding: 0 30px;
}
.header-top li a {
  color: lightgrey;
}
.header-top li a:hover {
  color: white;
  text-decoration: underline;
}
.header-top li i {
  color: blue;
  padding-right: 10px;
}

.header-bottom {
  height: 50px;
}
.header-bottom .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
}
.header-bottom img {
  height: 25px;
}
.header-bottom .container,
.header-bottom nav,
.header-bottom ul {
  height: 100%;
}
.header-bottom ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.header-bottom li {
  padding: 15px 40px;
}
.header-bottom li a {
  color: white;
}
.header-bottom li:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.header-bottom li:hover a {
  color: black;
}

.jumbotron {
  height: 500px;
  position: relative;
}
.jumbotron img {
  height: 100%;
}
.jumbotron .container {
  width: 1200px;
  margin: 0 auto;
}
.jumbotron .description {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  width: 40%;
}
.jumbotron p {
  color: #c70cb9;
  font-style: italic;
}
.jumbotron p:first-child {
  padding-top: 30px;
  font-weight: bold;
}
.jumbotron h2 {
  padding-bottom: 30px;
}
.jumbotron button {
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;
  margin-right: 10px;
  border: none;
  font-size: 20px;
}
.jumbotron button.btn-black {
  background-color: black;
  color: white;
}
.jumbotron button.btn-transp {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
