ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 100px;
  background-color: black;
}

.header-top {
  height: 50px;
}
.header-top .container {
  width: 1200px;
  margin: 0 auto;
}
.header-top .container,
.header-top nav,
.header-top ul {
  height: 100%;
}
.header-top ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.header-top li {
  padding: 0 30px;
}
.header-top li a {
  color: lightgrey;
}
.header-top li a:hover {
  color: white;
  text-decoration: underline;
}
.header-top li i {
  color: blue;
  padding-right: 10px;
}

.header-bottom {
  height: 50px;
}
.header-bottom .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
}
.header-bottom img {
  height: 25px;
}
.header-bottom .container,
.header-bottom nav,
.header-bottom ul {
  height: 100%;
}
.header-bottom ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.header-bottom li {
  padding: 15px 40px;
}
.header-bottom li a {
  color: white;
}
.header-bottom li:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.header-bottom li:hover a {
  color: black;
}
