.painting{
    @include bgc(#e8e8e8);
    .container{
        @include container;
        @include flex;
    }
    .box{
        width: calc(100% / 3);
        height: 400px;
        @include flex(center, center, column)
    }
    @for $img from 1 to 4 {
        .image#{$img}{
            background-image: url($immagine-#{$img});
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
}