$col_black: black;
$col_lightgrey: lightgrey;
$col_white: white;
$col_pink: #c70cb9;
$col_footer: #696969;
$h_50: 50px;
$h_100: 100px;
$h_300: 300px;
$pad_10: 10px;
$pad_30: 30px; 
$pad_40: 40px;


@for $indice from 1 to 11 {
    .pad-#{$indice * 10}{
        padding: #{$indice * 10}px;
    }

    .mar-#{$indice * 10}{
        padding: #{$indice * 10}px;
    }

}
